extends layouts/main-layout.pug
block styles 
    ink(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        form.product-form(action="/admin/add-product", method="POST")
            .form-controll 
                label(for="titleInput") Title 
                input(type="text" name="title")#titleInput
            button(type="submit") Add Product !
