
/* von mir  */
.product-form{
    display: block;
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
/* end von mir */

.form-controll {
    margin: 1rem 0;
}

.form-controll label,
.form-controll input,
.form-controll textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.form-controll input,
.form-controll textarea {
    border: 1px solid #dbc441;
    font: inherit;
    border-radius: 2px;
}

.form-controll input:focus, 
.form-controll textarea:focus {
    outline-color: #00695c;
}

button{
    font: inherit;
    border: 1px solid #6200ff;
    color: #6200ff;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}
button:hover,
button:active{
    background-color: #6200ff;
    color: white;
}