<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') -%>
    <main>
        <!-- <div>
            <button onclick="window.location.href='admin/add-product'">Continue</button>
            <div style="margin: 12px;">
                <form action="/admin/add-product">
                    <button>submit</button>
                </form>
            </div>
        </div> -->

            <h1>CART</h1>
    </main>
<%- include('../includes/end.ejs') %>